 .main-container-history {
    margin: 0;
    padding-top: 1px; 
    background-color: #91accd; 
  }
  
  .heading {
    font-family: "Roboto" ,sans-serif;
    text-align: center;
    color: #040e3d;
    margin: 20px 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  